<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ops-metadata-heading"
        data-cy="OpsMetadataCreateUpdateHeading"
        jhiTranslate="gwApp.projectOpsMetadata.home.createOrEditLabel"
      >
        Create or edit a Ops Metadata
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gwApp.projectOpsMetadata.opsSystem" for="field_opsSystem">Ops System</label>
          <input type="text" class="form-control" name="opsSystem" id="field_opsSystem" data-cy="opsSystem" formControlName="opsSystem" />
          <div *ngIf="editForm.get('opsSystem')!.invalid && (editForm.get('opsSystem')!.dirty || editForm.get('opsSystem')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('opsSystem')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gwApp.projectOpsMetadata.rentId" for="field_rentId">Rent Id</label>
          <input type="text" class="form-control" name="rentId" id="field_rentId" data-cy="rentId" formControlName="rentId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gwApp.projectOpsMetadata.createTime" for="field_createTime">Create Time</label>
          <input
            type="text"
            class="form-control"
            name="createTime"
            id="field_createTime"
            data-cy="createTime"
            formControlName="createTime"
          />
          <div *ngIf="editForm.get('createTime')!.invalid && (editForm.get('createTime')!.dirty || editForm.get('createTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gwApp.projectOpsMetadata.updateTime" for="field_updateTime">Update Time</label>
          <input
            type="text"
            class="form-control"
            name="updateTime"
            id="field_updateTime"
            data-cy="updateTime"
            formControlName="updateTime"
          />
          <div *ngIf="editForm.get('updateTime')!.invalid && (editForm.get('updateTime')!.dirty || editForm.get('updateTime')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('updateTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gwApp.projectOpsMetadata.projectMetadata" for="field_projectMetadata"
            >Project Metadata</label
          >
          <select
            class="form-control"
            id="field_projectMetadata"
            data-cy="projectMetadata"
            name="projectMetadata"
            formControlName="projectMetadata"
            [compareWith]="compareProjectMetadata"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="projectMetadataOption" *ngFor="let projectMetadataOption of projectMetadataCollection">
              {{ projectMetadataOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
